[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
User=root
Group=0
ExecStartPre=/usr/bin/vector validate --no-environment --config-yaml {{ vector_config_dir }}
ExecStart=/usr/bin/vector --config-yaml {{ vector_config_dir }} --watch-config
ExecReload=/usr/bin/vector validate --no-environment --config-yaml {{ vector_config_dir }}
Restart=no
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/vector

[Install]
WantedBy=multi-user.target